<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <title>中师试卷</title>
</head>
<body>
<script src="{% static 'exam.js' %}"></script>
<input id="question-all-button" type="button" value ="获取全部题目" onclick="fetch_all_exam()">
<div style="height: 20px"></div>
    <div id="question-all-div">未获取</div>
    <div style="height: 20px"></div>
<div><input id="question-new-input" type="text" placeholder="请输入您要获取题目的页数" width="150px">
<button onclick="fetch_new_exam()">提交</button></div>
</div>
<div style="height: 20px"></div>
    <div id="question-new-div">未获取</div>
    <div style="height: 20px"></div>
</body>
</html>